@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Big+Shoulders+Display:wght@700&family=Fraunces:opsz,wght@9..144,700&family=Gugi&family=Lexend+Deca&family=Montserrat:wght@500;700&family=Rubik:wght@300&display=swap');

:root {
    --image-link: 'https://images.pexels.com/photos/281260/pexels-photo-281260.jpeg?cs=srgb&dl=pexels-francesco-ungaro-281260.jpg&fm=jpg' ;
}

*{
    box-sizing: border-box;
    margin: 0;
    /* font-family: 'Gugi', cursive; */
    font-family: 'Aboreto', cursive;
    
}

.container{

    background-image:  url('https://images.pexels.com/photos/281260/pexels-photo-281260.jpeg?cs=srgb&dl=pexels-francesco-ungaro-281260.jpg&fm=jpg');
    background-repeat: no-repeat;
    background-size: cover ;
    height: 100%;
    color: white;
}

.overlay  {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    height: 100vh;
    /* flex-direction: column; */
    color: midnightblue;
    background: rgba(0, 0, 0, 0.2);
}

.container h1{
    font-size: 160px;
}

.temp{
    height: 400px;
    width: 300px;
    margin: 60px 100px  0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid mediumblue;
    border-radius: 20px;
    gap: 0.1rem;

}

.temp h3, h1, h2, p{
    text-align: center;
}


.temp p{
    font-size: 12px;
}

.sethings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 110px 0 0 0;
    gap: 33px;
}

.grid{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;

}

.grid h1{
    z-index: 10;
}

#icon{
    width:200px;
    height: 200px;
    margin: 0;
    opacity: 0.5;
    transform: translate(10%, -90%);
    z-index: 0;
}

.row{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}


.row input, button{
    border-color: 0.5px solid white;
    box-shadow: none;
    height: 30px;

}

#btn{
    /* background-color: lightcoral; */
    background-color: skyblue;
    color: white;
    cursor: pointer;
    border: 0.5px solid white;
}

#btn:hover {
    background-color: white;
    color: skyblue;
}


.dropdown{
    width: 200px;
    height: 30px;
    cursor: pointer;
    background: transparent;
    color: white;
    border: 0.5px solid skyblue;
}

.dropdown option{
    max-width: 30px;
    padding: 0;
    background: transparent;
}

input{
    background: transparent;
    border: 0.5px solid skyblue;
    color: white;
}
::placeholder {
    color: skyblue;
    opacity: 1; 
  }

  /* input[readonly]::placeholder {
    color: skyblue !important;
  } */
  .my_input :read-only ::placeholder  {
    color: skyblue !important;
  }


@media screen and (max-width: 700px) {
    .overlay{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
    }
    .sethings{
        margin: 30px 0 0 0;
        gap: 10px;
        /* gap: 0; */
        flex: 1;
    }
    
}