@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Big+Shoulders+Display:wght@700&family=Fraunces:opsz,wght@9..144,700&family=Gugi&family=Lexend+Deca&family=Montserrat:wght@500;700&family=Rubik:wght@300&display=swap');

:root {
    --image-link: 'https://images.pexels.com/photos/281260/pexels-photo-281260.jpeg?cs=srgb&dl=pexels-francesco-ungaro-281260.jpg&fm=jpg' ;
}

*{
    box-sizing: border-box;
    margin: 0;
    /* font-family: 'Gugi', cursive; */
    font-family: 'Aboreto', cursive;
    
}


.container  {
    display: flex;
    gap: 10px;
    background-image:  url('https://images.pexels.com/photos/281260/pexels-photo-281260.jpeg?cs=srgb&dl=pexels-francesco-ungaro-281260.jpg&fm=jpg');
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    height: 100vh;
    flex-direction: column;
    color: midnightblue;
}

.container h1{
    font-size: 160px;
}

.temp{
    height: 400px;
    width: 300px;
    margin: 60px 100px  0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid mediumblue;
    border-radius: 20px;
    gap: 0.1rem;
    /* background-color: yellow; */
}

.temp h1{
    /* margin-left: 0.8rem; */
}


.temp p{
    font-size: 12px;
}

.grid{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;

}

.grid h1{
    z-index: 10;
}

#icon{
    width:200px;
    height: 200px;
    margin: 0;
    opacity: 1;
    transform: translate(10%, -90%);
    z-index: 0;
}

.row{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}


.row input, button{
    border-color: 0.5px solid white;
    box-shadow: none;
    height: 30px;

}

#btn{
    background-color: lightcoral;
    color: white;
    
}